/* Gallery container styling */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 150px;
    justify-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f265;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 90%; /* Set the width you desire */
    margin: 0 auto; /* Center horizontally */
}

/* Individual image styling */
.gallery-container img {
    width: 280px; 
    height: 200px; 
    object-fit: cover;
    margin: 1px;
    border: 1px solid #ccccccaf;
}


h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Adjust color as needed */
}

.button-container {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
}
