.main {
    display: flex;
    flex-wrap: wrap;
}

.banner {
    flex: 4; /* Increase the factor to allocate more space to the banner */
    background-image: url('assignment-package/website-images-assets/Banner\ colour\ WEBP.webp'); 
    background-size: cover; 
    color: #fff;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px; /* Add margin to separate from the content */
    max-width: calc(100% - 20px); /* Adjust maximum width for the banner */
}


.logo-flex-container {
    display: flex;
    align-items: center; /* Align logo container vertically */
    justify-content: flex-end; /* Align content to the end (top-right) */
    margin-top: -520px; /* Move the logo up by adjusting the margin */
    margin-right: 90px;
}

.logo-container {
    margin-left: auto; /* Push the logo to the right */
    align-self: flex-end; /* Align the logo to the flex-end (top-right) */
}

.top-right-image-logo {
    width: 260px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Other styles for the logo */
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust alignment between sections */
    padding: 20px;
    /* Add other Flexbox properties as needed */
}


.content-side {
    flex: 3;
    max-width: calc(100% - 20px); /* Adjust content-side width */
    box-sizing: border-box; /* Include padding and border in width */
    margin-right: 20px; /* Margin to create space between content and image */
}

.slideshow-side {
    flex: 1;
    max-width: calc(30% - 20px); /* Adjust slideshow-side width */
    box-sizing: border-box; /* Include padding and border in width */
    margin-top: 0px;
    margin-bottom: 10px; /* Add some margin to the top and bottom for spacing */
    position: relative;
}

/* Add other main content styles here */
