main {
    flex: 1; /* Allow the main content to grow and take remaining space */
    padding: 20px;
}

.banner {
    background-image: url('assignment-package/website-images-assets/20230526_090718.jpg'); 
    background-size: cover; 
    color: #fff;
    text-align: center;
    padding: 50px;
}
/* Add other main content styles here */
