/* Adjust the slideshow container */
.slideshow-container {
    position: relative;
    max-width: 100%; /* Adjust this value according to your layout */
    margin-left: auto; /* Push the container to the right */
    margin-right: 50px; /* Push the container to the left */
    margin-top: 235px;
    margin-bottom: 10px; /* Add some margin to the top and bottom for spacing */
}

.mySlides {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
    width: 110%; 
    max-width: 110%; 
    display: none; 
}

/* Show the active slide */
.mySlides.active {
    opacity: 1;
    display: block; 
}


