#about {
    width: 90%; 
    max-width: 1050px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    text-align: justify; 
}

.text-box {
    width: 90%; 
    max-width: 1050px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9;
    text-align: justify; 
}

